{% extends 'analytics/base.html' %} 
{% block title %} Home {% endblock %}
{% block content %}
<div class="header-container">
    <h2>Danu Bebidas</h2>
    <p>Inspirando cada sorbo, elevando cada momento</p>
</div>

<div class="image-container">
    <img src="https://p4.wallpaperbetter.com/wallpaper/262/346/383/scotch-bottles-shelves-alcohol-wallpaper-preview.jpg" alt="Imagen de Danu Bebidas">
</div>

<div class="description-container">
    <p>
        Danu Bebidas es una empresa que cuenta con diversas tiendas de bebidas alcohólicas, ubicadas principalmente dentro del Reino Unido.     </p>
</div>

<div class="stats-container">
    <div class="stat-box">
        <h2>£ 18,269</h2>
        <p>Tamaño de mercado</p>
        <span>millones de GBP</span>
        <small>(Statista, 2016)</small>
    </div>
    <div class="stat-box">
        <h2>£ 278.45</h2>
        <p>Consumo Per Cápita</p>
        <span>en GBP</span>
        <small>(Statista, 2024)</small>
    </div>
    <div class="stat-box">
        <h2>10.59 lts</h2>
        <p>Consumo Per Cápita</p>
        <span>en litros de alcohol consumidos en 2016</span>
        <small>(Statista, 2024)</small>
    </div>
    <div class="stat-box">
        <h2>0.35%</h2>
        <p>Participación del mercado</p>
        <span>de Danu Bebidas</span>
    </div>
</div>
{% endblock %}
