{% extends 'analytics/base.html' %} {% block title %} Home {% endblock %}
{%block content %}
<div class="header-container">
    <h1>Danu Bebidas</h1>
    <p>Inspirando cada sorbo, elevando cada momento</p>
  </div>
  
  <div class="image-container">
    <img src="https://p4.wallpaperbetter.com/wallpaper/262/346/383/scotch-bottles-shelves-alcohol-wallpaper-preview.jpg" alt="Imagen de Danu Bebidas">
  </div>
  
  <div class="description-container">
    <p>
      Danu Bebidas es una empresa que es dueña de tiendas de diversos segmentos de mercado. ...
    </p>
  </div>
  
  <a href="#" class="more-info-btn">More Info</a>
{% endblock %}
